<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="//cdnlib.netlify.com/libs/vue/dist/vue.min.js"></script>
    <script src="/sourcedata.umd.js"></script>
    <script src="/test/index.js" defer></script>
  </head>

  <body style="font: bold xx-large sans-serif; text-align: center;">
    <h1>Test</h1>
    <table style="width: 100%">
      <th>
        <tr>
          <td>Total: {{list.total}}</td>
          <td>Paginação: {{list.size}}</td>
          <td>Páginas: {{list.pages}}</td>
          <td>Atual: {{list.page}}</td>
        </tr>
      </th>
    </table>
    <ul style="column-count: {{list.size}}; list-style-type: none;">
      <li v-for='l in list.view'>{{l}}</li>
    </ul>
    <p>
      <button v-if='list.prev' @click='list.pgFirst()'>First</button>
      <button v-if='list.prev' @click='list.pgPrev()'>Prev</button>
      <select v-model='sz'>
        <option value="{{sz}}" v-for='sz in szs'>{{sz}}</option>
      </select>
      <button v-if='list.next' @click='list.pgNext()'>Next</button>
      <button v-if='list.next' @click='list.pgLast()'>Last</button>
    </p>
    {{list.view|json}}
    <p>
      <button @click="edit">Edit test</button>
    </p>
  </body>

</html>
